### IMPORTANT NOTE:
###   DO not try to deploy until all the comment files, with single(#) are removed.

### This yml file is CI/CD pipeline containing 3 stages
### build-stage:
###   tries to build the data-pipeline using docker-compose and checks the yml file
### test-stage:
###   tries to run the data-pipeline. it first checks if kafka and cassandra services are healthy.
###   If so, it will run the producer service.
###   If all done, test-stage passed successfully
### deploy-stage:
###   tries to deploy data-pipeline to the server by connecting to it by ssh protocol,:workflow:
###   pulling from git repo and compose up.


stages:
  - build
  - test
  - deploy



before_script:
  - docker info
  - docker version


build-stage:
  stage: build
  script:
    - docker compose config -q
    - docker compose build
    - echo "build-stage done."


test-stage:
  stage: test
  script:
  - docker compose up -d
  - echo "Waiting for services to be Healthy..."
  - until [ "$(docker inspect --format='{{.State.Health.Status}}' kafka)" == "healthy" ]; do sleep 5; done
  - until [ "$(docker inspect --format='{{.State.Health.Status}}' cassandra)" == "healthy" ]; do sleep 5; done
  - until [ "$(docker inspect --format='{{.State.Health.Status}}' spark)" == "healthy" ]; do sleep 5; done
  - timeout 5s docker compose exec -T producer python /app/producer.py || true
  - docker compose down
  - echo "test-stage done."
  when: on_success



deploy-stage:
  stage: deploy
  before_script:
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
  script:
    - |
      ssh -o StrictHostKeyChecking=no $HOST_NAME@$HOST "
      set -e

      mkdir -p /home/amir/final_project_01

      if [ ! -d /home/amir/final_project_01/.git ]; then
        git clone git@46.249.101.10:root/final-project-01.git /home/amir/final_project_01
      fi
      
      cd /home/amir/final_project_01

      git pull
      docker compose pull
      docker compose up --build -d
      "
    - echo "deploy-stage done."
